body {
    /* Makes background page color light blue, puts a patterned bg as body */
    background-color: lightblue;
    background-image: url('bg3.jpg');
    height: 100%;
}
html{
  min-height: 100%;
  position: relative;
}


/* GENERAL TAGS */
a{
    text-decoration: none; /* gets rid of the underline under links */
    color: #c984ff;
}
a:hover{
  color: purple;
  text-decoration: none;
}

p, li{ /* for both p and li tags */
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}
p{
  padding-top: 5px;
}

h1{
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #eadbff;
}
h2{
    color: black;
    padding: 5px 5px;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: lavender;
}

strong{
  color:#11001F /* dark purple */
}

i{
  padding-left: 10px;
  padding-right: 10px;
}
img{
  padding-top: 5px;
  padding-bottom: 5px;
}

/* CLASSES */
.left{
  text-align:left;
}
.center {
  /* Aligns text to the center of the page */
  text-align: center;
}
.right {
  /* Aligns text to the right of the page */
  text-align: right;
}

.rightFloat {
  /* Makes item float to the right */
  float: right;
}

/* SPLASH BANNER CLASSES */
.titletext{
  font-size: 40px;
}
.subtext{
  font-size: 20px;
}
.splash_text{
  text-align: center;
}
.image-txt-container{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.biggertext{
  /* A class meant for text to be size 20, a bigger size than what is defined normally */
   font-size:20px;
}
.boldedtext{
  /* Text should be bolded when this class is active */
   font-weight:bold;
}
.underline{
  text-decoration: underline;
}

.whitetext{
  /* Makes text white */
  color: white;
  float:left;
  padding: 5px 5px;
  text-align: center;
  padding-left: 10px;
}
.whitetext:hover{
  color: white;
  text-decoration: none;
}

/* NAV BAR LINKS */
.headerlink{
  /* links on the header should be to the right of the header */
  float: right;
  padding: 5px 5px;
  padding-right: 20px;
  text-align: center;
  color: #c984ff;
}
.headerlink:hover, .headerlink:active{
  /* When the navigation bar links are hovered over and being clicked on,
  the text should turn white. They will revert to normal color when the mouse
  is not on the text anymore. */
  color: white;
  text-decoration: none;
}

/* CONTACT ICONS */
.fa{
  text-decoration: none;
  color: #c984ff;
}
.fa:hover{
  color: purple;
}

/* IMG POSITIONING */
.center_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 5px 5px;
}

/* IDS */
#container{
  position: absolute;
  margin-top: 50px;
}
#top_nav{
  /* Specific ID for the top header / navigation bar */
    overflow: hidden;
    background-color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#splash{
  /* Splash banner */
  margin-top: auto;
  background-color: #eadbff;
}
#main{
  /* Specific ID for the main body */
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
}
#bottom{
  /* bottom contact area */
    overflow: hidden;
    background-color: #eadbff;
    padding: 9px 9px;
    font-family: 'Fira Sans', sans-serif;
}
#skills{
  /* skills icon size */
  font-size: 5em;
}


/* SPECIFIC TAGS */
img.splash{
  max-height: 100%;
  padding-left: 50px;
}

img.rightFloat{
    height: 300px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.rightFloat {
  /* img border area */
    background-color: lavender;
    max-width: 300px;
    max-height: 340px;
    margin-right: 10px;
    margin-left: 10px;
}

div#main, div#project_div, div#bottom, div#splash{
  margin-left: 50px;
  margin-right: 50px;
}

div#project_div{
  background-color: white;
  margin-top: auto;
  padding-top: 10px;
}

ul{
  display: inline-block;
}
